@model RMS.Models.Eqptissue



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Issue Equipment</h4>
                </div>
                <div class="card-body issue-eqpt-form">
                  


                        <div class="row">
                            <!-- Left column (first set of form fields) -->
                            <div class="col-sm-6">
                                
                                <div class="mb-3">
                                    <label asp-for="Date" class="form-label">Date</label>
                                    <input type="date" class="form-control dateissue" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                            
                            </div>


                            <div class="col-sm-6">

                                <div class="mb-3">

                                    <label class="form-label">Issue Voucher</label>
                                    <input class="form-control issuevoucher" required />

                                </div>
                            </div>
                        </div>
                        <hr />

                        <!-- Duplicable Fields Section -->
                        <div id="duplicable-fields-section">
                            <div class="duplicable-fields-group">
                                <div class="row">

                                    <!--Duplicate Fields-->

                                    <div class="col-sm-4">

                                        <div class="mb-3">
                                            <label for="EqptId" class="form-label">Equipment</label>
                                            <select class="form-control eqptissueId" required>
                                                @foreach (var eqpt in ViewBag.Eqpt)
                                                {
                                                    <option value="@eqpt.Id">@eqpt.Name </option>
                                                }
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="mb-3">
                                            <label asp-for="Eqptname" class="form-label">Equipment Name</label>
                                            <input asp-for="Eqptname" class="form-control eqptnameissue" required />
                                            <span asp-validation-for="Eqptname" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="mb-3">
                                            <label asp-for="Qty" class="form-label">Quantity</label>
                                            <input asp-for="Qty" class="form-control qtyissue" required />
                                            <span asp-validation-for="Qty" class="text-danger"></span>
                                        </div>

                                    </div>


                                    <div class="col-sm-4">

                                        <div class="mb-3">
                                            <label for="branchid" class="form-label">Branch</label>
                                            <select class="form-control branchissueid" required>
                                                <option value="">Select</option>
                                                @foreach (var B in ViewBag.Branch)
                                                {
                                                    <option value="@B.Id">@B.Name</option>
                                                }
                                            </select>
                                        </div>

                                    </div>



                                    <div class="col-sm-4">

                                        <div class="mb-3">


                                            <label class="form-label">Condition</label>
                                            <select class="form-control conditionidissue" required>
                                                <option value="">Select</option>
                                                @foreach (var C in ViewBag.Eqptconditions)
                                                {
                                                    <option value="@C.Id">@C.Condition</option>
                                                }


                                            </select>


                                        </div>

                                    </div>

                                    <div class="col-sm-4">

                                        <div class="mb-3">


                                            <label class="form-label">Issue To</label>
                                            <input class="form-control issuetoissue" required />


                                        </div>

                                    </div>



                                    <div class="col-sm-12">

                                        <div class="mb-3">
                                            <label class="form-label">Details/Specifications</label>

                                            <textarea class="form-control detailsissue" required></textarea>

                                        </div>

                                    </div>




                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-danger remove-field" >Remove</button>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>

                        <!-- Add More Button -->
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" id="add-duplicable-field" class="btn btn-secondary" style="margin-bottom: 15px;">Add Section</button>
                            </div>
                        </div>





                          <div class="row">

                            <div class="col-sm-6">
                                <button id="submit-eqpt-issue" class="btn btn-primary" style="width:100%;">Submit</button>
                            </div>
                            <div class="col-sm-6">
                                <a href="/EqptIssue" class="btn btn-success" style="width:100%;">Back</a>
                            </div>


                          </div>
                          
                       

                      




                    
                </div>
            </div>
        </div>
    </div>
</div>
