@model RMS.Models.EqptissueVM

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card ">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Equipment Issue Details</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <!-- Date -->
                        <dt class="col-sm-3 text-primary">
                             Issue Date
                        </dt>
                        <dd class="col-sm-9">
                            
                            @(Model?.Date?.ToString("yyyy-MM-dd") ?? "")


                        </dd>

                         <!-- Date -->
                        <dt class="col-sm-3 text-primary">
                            Branch
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Branch
                        </dd>

                          <!-- Date -->
                        <dt class="col-sm-3 text-primary">
                            Eqpt Type Name
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Eqpttypename
                        </dd>

                           <!-- Date -->
                        <dt class="col-sm-3 text-primary">
                            Eqpt Name
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Eqptname
                        </dd>

                          <dt class="col-sm-3 text-primary">
                            Condition
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Condition
                        </dd>

                          <dt class="col-sm-3 text-primary">
                            Status
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Status
                        </dd>


                         <dt class="col-sm-3 text-primary">
                            Quantity
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Qty
                        </dd>
                        
                         <dt class="col-sm-3 text-primary">
                            Issueto
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Issueto
                        </dd>


                          <dt class="col-sm-3 text-primary">
                            Issue Voucher
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Issuevoucher
                        </dd>

                        
                          <dt class="col-sm-3 text-primary">
                            Details
                        </dt>
                        <dd class="col-sm-9">
                            @Model.Details
                        </dd>







                  
                    </dl>
                </div>
                <div class="card-footer text-center">
                
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
