@model RMS.Models.Eqptissue

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Update Issue Equipment</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>


                        <input value="@Model.Id" type="hidden" name="Id" />

                        <div class="row">
                            <!-- Left column (first set of form fields) -->
                            <div class="col-sm-3">

                                <div class="mb-3">
                                    <label asp-for="Date" class="form-label">Date</label>
                                    <input class="form-control"
                                           type="date"
                                           name="Date"
                                           value="@(Model.Date.HasValue ? Model.Date.Value.ToString("yyyy-MM-dd") : "")" />
                                </div>

                            </div>

                            <div class="col-sm-3">

                                <div class="mb-3">
                                    <label for="EqptId" class="form-label">Equipment</label>
                                    <select class="form-control" id="EqptId" name="EqptId">
                                        @foreach (var eqpt in ViewBag.Eqpt)
                                        {
                                            if (eqpt.Id == Model.EqptId)
                                            {
                                                <option value="@eqpt.Id" selected="selected">@eqpt.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@eqpt.Id">@eqpt.Name</option>
                                            }
                                        }
                                    </select>


                                   
                                </div>

                            </div>

                            <div class="col-sm-3">

                                <div class="mb-3">
                                    <label asp-for="Eqptname" class="form-label">Equipment Name</label>
                                    <input value="@Model.Eqptname" class="form-control" name="Eqptname" />
                                </div>

                            </div>

                            <div class="col-sm-3">

                                <div class="mb-3">
                                    <label asp-for="Qty" class="form-label">Quantity</label>
                                    <input value="@Model.Qty" class="form-control" type="number" max="1000"  name="Qty" />
                                </div>

                            </div>


                            <div class="col-sm-3">

                                <div class="mb-3">
                                    <label for="branchid" class="form-label">Branch</label>
                                  
                                    <select class="form-control" id="branchid" name="branchid">
                                        @foreach (var B in ViewBag.Branch)
                                        {
                                            if (B.Id == Model.Branchid)
                                            {
                                                <option value="@B.Id" selected="selected">@B.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@B.Id">@B.Name</option>
                                            }
                                        }
                                    </select>



                                </div>

                            </div>



                            <div class="col-sm-3">

                                <div class="mb-3">


                                    <label>Condition</label>
                                 

                                    <select class="form-control" id="Conditionid" name="Conditionid">

                                        @foreach (var C in ViewBag.Eqptconditions)
                                        {
                                            if (C.Id == Model.Conditionid)
                                            {
                                                <option value="@C.Id" selected="selected">@C.Condition</option>
                                            }
                                            else
                                            {
                                                <option value="@C.Id">@C.Condition</option>
                                            }
                                        }
                                    </select>




                                </div>

                            </div>

                            <div class="col-sm-3">

                                <div class="mb-3">


                                    <label>Issue To</label>
                                    <input class="form-control" value="@Model.Issueto" id="Issueto" name="Issueto" />


                                </div>

                            </div>


                            <div class="col-sm-3">

                                <div class="mb-3">


                                    <label>Issue Voucher</label>
                                    <input class="form-control" value="@Model.Issuevoucher" id="Issuevoucher" name="Issuevoucher" />


                                </div>

                            </div>

                            <div class="col-sm-12">

                                <div class="mb-3">
                                    <label class="form-label">Details/Specifications</label>

                                    <textarea class="form-control"  name="Details">@Model.Details</textarea>

                                </div>

                            </div>






                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary" style="width:100%;">Submit</button>
                            </div>
                            <div class="col-sm-6">
                                <a href="/EqptIssue" class="btn btn-success" style="width:100%;">Back</a>
                            </div>


                        </div>








                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
