@model IEnumerable<RMS.Models.EqptissueVM>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}
<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Issued Equipments</h2>
        <div>
            @if (role != "Officer")
            {
                <a asp-action="Create" class="btn btn-primary me-2">Create New</a>
            }
            <a id="print-issue-eqpt" class="btn btn-danger">Print</a>
        </div>
    </div>
    <br/>
    <!-- Dropdown filters -->
    <div class="row mb-3">
        <div class="col-md-3">
            <label for="branchFilter" class="form-label">Select Branch:</label>
            <select id="branchFilter" class="form-control">
                <option value="">All</option>
                @foreach (var b in ViewBag.Branch)
                {
                    <option value="@b.Name">@b.Name</option>
                }
            </select>
        </div>

        <div class="col-md-3">
            <label for="eqptFilter" class="form-label">Select Equipment:</label>
            <select id="eqptFilter" class="form-control">
                <option value="">All</option>
                @foreach (var eqpt in ViewBag.Eqpttype)
                {
                    <option value="@eqpt.Name">@eqpt.Name</option>
                }
            </select>
        </div>   
        
        <div class="col-md-2">
            <label for="eqptcond" class="form-label">Select Condition:</label>
            <select id="eqptcond" class="form-control">
                <option value="">All</option>
                @foreach (var cond in ViewBag.Eqptconditions)
                {
                    <option value="@cond.Condition">@cond.Condition</option>
                }
            </select>
        </div>  

       
         <div class="col-md-2">

            <label for="dateissue" class="form-label">Date To:</label>
            <input type="date" class="form-control" id="dateissueto" />

        </div>

        <div class="col-md-2">

            <label for="dateissue" class="form-label">Date From:</label>
            <input type="date" class="form-control" id="dateissue" />

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">

            <p>Total Filtered Items: <span id="itemCountField"></span></p>

        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-striped table-bordered table-hover" id="tbleqptissue">
            <thead class="table-dark">
          
                <tr>
                    <th>Sr</th>
                    <th>Branch</th>
                    <th>Eqpt Type</th>
                    <th>Eqpt Name</th>
                    <th>Qty</th>
                    <th>Condition</th>
                    <th>Issue To</th>
                    <th>I/Voucher</th>
                    <th>Date</th>
                    <th>Active</th>
                </tr>

            </thead>
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.Branch</td>
                        <td>@item.Eqpttypename</td>
                        <td>@item.Eqptname</td> 
                        <td>@item.Qty</td>
                        <td>@item.Condition</td>
                        <td>@item.Issueto</td>
                        <td>@item.Issuevoucher</td>
                        <td>@item.Date?.ToString("dd-MMM-yyyy")</td>
                        <td>

                            <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id">📓 </a>
                            <a class="btn btn-warning btn-sm" asp-action="History" asp-route-id="@item.Id">🔁</a>
                            @if (role != "Officer")
                            {
                                <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">✏️</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">🗑️</a>
                            }
                          
                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
